.dense-nn-div {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}

.dense-nn-results {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1vh;
    width: 100%;
}
}

.train, .test {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.train-val-div, .test-val-div {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.train-val, .test-val {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 250%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0;
	margin-bottom: 2%;
}

.results-values-div {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.top-two, .bottom-two {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5.25%;
	margin-bottom: 5.25%;
}

.result-div {
	margin-left: 5%;
	margin-right: 5%;
}

.train-val-div, .results-values-div-1 {
	padding-right: 5vw;
}

.test-val-div, .results-values-div-2 {
	padding-left: 5vw;
}

.acc-val, .prec-val, .rec-val, .f1-val {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 150%;
	width: 75%;
	font-weight: bolder;
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.acc, .prec, .rec, .f1 {
	text-align: center;
	font-family: 'Poppins', serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 2.5%;
}

.training-results {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.dense-nn-acc-div, .dense-nn-loss-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

.vs-epochs-h4-div, .vs-epochs-img-div {
	width: 50%;
}

.vs-epochs-h4-div {
	margin-right: 2.5vw;
}

.vs-epochs-img-div {
	text-align: center;
	margin-left: 2.5vw;
}

.vs-epochs-tag {
    text-align: center;
    font-family: 'Oswald', serif;
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
}

