.intro-icon {
	max-height: 64px;
	max-width: 64px;
	padding-bottom: 20px;
	width: 10vw;
}

.sensortag-img {
	max-width: 200px;
	max-height: 200px;
	width: 30vw;
}

.workflow-img {
	width: 30vw;
}

.calendar-img {
	max-width: 10vw;
	width: 5vw;
	padding-top: 1.75vw;
	padding-bottom: 0.75vw;
}

.feature-img {
	max-width: 10vw;
	width: 5vw;
	padding-bottom: 20px;
}

.sampled-areas-img {
	max-width: 75%;
	max-height: 75%;
	width: 30vw;
}

.lstm_predictions-img, .lstm_north_predictions-img, .lstm_south_predictions-img, .lstm_east_predictions-img, .lstm_west_predictions-img {
	margin-top: 2.5%;
    max-width: 90%;
    max-height: 90%;
    display: block; /* remove extra space below image */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.dense_accuracy-img {
	max-width: 40vw;
	width: 30vw;
}

.dense_loss-img {
	max-width: 40vw;
	width: 30vw;
}