.intro-icon {
	max-height: 64px;
	max-width: 64px;
	padding-bottom: 20px;
}

.sensortag-img {
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}

.workflow-img {
	max-width: 75%;
	max-height: 75%;
	width: auto;
	height: auto;
}

.calendar-img {
	max-height: 64px;
	max-width: 64px;
}

.feature-img {
	max-height: 64px;
	max-width: 64px;
	height: 64px;
	width: 64px;
	padding-bottom: 20px;
}

.sampled-areas-img {
	max-width: 75%;
	max-height: 75%;
	width: auto;
	height: auto;
}

.lstm_predictions-img, .lstm_north_predictions-img, .lstm_south_predictions-img, .lstm_east_predictions-img, .lstm_west_predictions-img {
	margin-top: 2.5%;
	max-width: 95%;
	max-height: 95%;
}

.dense_accuracy-img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.dense_loss-img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}