/* Begin introduction section CSS code */

.intro-div {
	margin-top: 5%;
	margin-bottom: 5%;
}

.done-by-div {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;

	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.done-by-int-div {
	margin-top: 25%;
}

.intro-title-div {
	text-align: center;
	margin-bottom: 10%;
	margin-top: -20%;
}

.intro-title {
	font-family: 'Oswald', serif;
	font-size: 500%;
}

.intro-by-div {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 10%;
}

.intro-table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.intro-table-th {
}

.intro-table-td {
	width: 25%;
	text-align: center;
	font-family: 'Poppins', serif;
}

.intro-desc-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.intro-desc-mid-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-desc-h4-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-desc-tag {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 300%;
	margin-left: auto;
    margin-right: auto;
}

.intro-desc-p-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-desc {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 125%;
	margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.intro-moti-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.intro-moti-mid-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-moti-h4-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-moti-tag {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 300%;
    margin-left: auto;
    margin-right: auto;
}

.intro-moti-p-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-moti {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 125%;
	margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.intro-img-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.intro-img-mid-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-img-h4-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-img-tag {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 300%;
	width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.intro-img-p-div {
	flex-basis: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
}

.intro-img {
	text-align: center;
	padding-bottom: 20px;
}

.intro-link-div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.intro-link {
	font-family: 'Poppins', serif;
	font-size: 100%;
	margin-left: auto;
    margin-right: auto;
    width: 75%;
}