/* Begin introduction section CSS code */

.intro-div {
	margin-top: 5%;
	margin-bottom: 5%;
}

.done-by-div {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;

	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.done-by-int-div {
	margin-top: 25%;
}

.intro-title-div {
	text-align: center;
	margin-bottom: 10%;
	margin-top: -20%;

}

.intro-title {
	font-family: 'Oswald', serif;
	font-size: 300%
}

.intro-by-div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}

.intro-table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.intro-table-th {
}

.intro-table-td {
	width: 25%;
	text-align: center;
	font-family: 'Poppins', serif;
}

.intro-table-statements-div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

.intro-table-statements {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.intro-desc-div, .intro-moti-div, .intro-img-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-desc-h4-div, .intro-moti-h4-div, .intro-img-h4-div {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-desc-tag, .intro-moti-tag, .intro-img-tag {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 250%;
	margin-left: auto;
    margin-right: auto;
}

.intro-desc-p-div, .intro-moti-p-div, .intro-img-p-div {
	width: 50%;
}

.intro-desc, .intro-moti {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 100%;
	margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.intro-img-mid-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-img {
	text-align: center;
	padding-bottom: 20px;
}

.intro-link-div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.intro-link {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 90%;
	margin-left: auto;
    margin-right: auto;
}