.lstm-div {
	margin-bottom: 1vh;
}

.datatime-features {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2.5vh;
}

.datatime-div, .features-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.datetime-tag-div, .features-tag-div, .datatime-img-td, .features-combined {
	width: 50%;
}

.datatime-tag, .features-tag, .sampled-areas-number {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 250%;
	margin-left: auto;
    margin-right: auto;
}

.datatime-tag {
	margin-bottom: 0%;
	margin-top: 0%;
}

.datetime-img {
	text-align: center;
	margin-top: 5.25%;
	margin-bottom: 5.25%;
}

.datetime {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 150%;
	width: 75%;
	font-weight: bolder;
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.intervals {
	text-align: center;
	font-family: 'Poppins', serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 2.5%;
	width: 75%;
	margin-left: auto;
    margin-right: auto;
}

.features-tag {
	margin-bottom: 0%;
	margin-top: 0%;
}

.features-first-three, .features-next-two {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.features-next-two {
	padding-bottom: 20px;
}

.feature-div {
	text-align: center;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.features {
	text-align: center;
	font-family: 'Poppins', serif;
	font-weight: bold;
	font-size: 75%;
	margin-bottom: 0;
	margin-top: 0;
}

.sampled-areas-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.sampled-areas-tr {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sampled-areas-td, .sampled-areas-img-div {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sampled-areas-number {
	margin-top: 0%;
	margin-bottom: 0%;
}

.sampled-areas-text-div {
	flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.sampled-areas-text {
	font-family: 'Poppins', serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 5%;
	width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.train-test-results {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lstm-training-results {
	max-height: 70vh;
	max-width: 70vw;
	width: 80%;
	height: 80%;
    margin-left: auto;
    margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel {
	position: relative;
	max-height: 70vh;
	max-width: 70vw;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
	opacity: 1;
}

.slide {
	font-family: 'Oswald', serif;
	font-size: 200%;
	display: block;
	font-weight: bolder;
	float: left;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #eee;
	text-align: left;
	transition: opacity 0.4s;
	opacity: 1;
	color: #000000;
}

.slide:before {
	content: attr(annot);
	display: block;
	position: absolute;
	text-align: left;
	left: 20px;
	bottom: 20px;
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	z-index: 12;
	opacity: 0;
	transition: opacity 0.3s;
	text-shadow: 0 0 1px #000;
}

.slide:after {
	content: attr(slide);
	display: block;
	position: absolute;
	bottom: 0;
	transition: opacity 0.3s;
	width: 100%;
	height: 80px;
	opacity: 0;
	background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
	text-align: left;
	text-indent: 549px;
	line-height: 101px;
	font-size: 13px;
	color: #000000;
	text-shadow: 0 0 1px #000;
}


.faux-ui-facia {
	top: 0;
	right: 0;
	float: right;
	position: absolute;
	margin-top: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.faux-ui-facia:checked {
	z-index: 8;
}

.faux-ui-facia:checked + .slide {
	opacity: 0;
}

.faux-ui-facia:checked:nth-child(1):checked {
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked {
	float: left;
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked + .slide {
	opacity: 1;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
	float: left;
	z-index: 8;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
	opacity: 0;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
	opacity: 1;
}