.workflow-div {
	margin-top: 1vh;
}

.workflow-how-to-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.workflow-h4-div, .workflow-img-div {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.workflow-row-div {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.workflow-h4 {
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 250%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0;
    margin-bottom: 0;
}

.workflow-seq-div {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.workflow-ol {
}

.workflow-li {
	font-family: 'Poppins', serif;
	font-size: 100%;
}